.nav-pills>.nav-item>.nav-link.active{
    color:white !important;
    background-color: black !important;;
}
.nav-pills>.nav-item>.nav-link{
    color: white !important;
    text-shadow: 3px 3px 5px #000000;
}

#sobre{
    color: white !important;
    text-shadow: 3px 3px 3px #000000;
}

#tipoArq {
    display:none
}

#redirecionar {
    display:none
}

#procestxt {
    text-shadow: 3px 3px 5px white;
    position : absolute;
    bottom   : 30vh
}

#anuncio {
    height: 50px;
    width: 300px;
    position: fixed;
    bottom: 80vh;
    right: 0vh;
}
