{% extends 'base.html' %}

{% block content %}

<div  class="container-fluid">
  <div class="row pt-5">
    <h1 id="sobre" class="display-5 text-center">Sobre</h1>
  </div>
  <div class="row pt-4 mx-5">
    <p id="sobre" class="lead text-center">
      Com a evolução constante da tecnologia a maioria das pessoas está
perdendo o costume de ler livros ou artigos extensos. Por esse motivo se faz necessário a utilização de técnicas para que diminua o número de páginas,
resultando em um texto que contêm somente os pontos mais importantes, mas para
realizar isso da forma tradicional alguém precisa ler o texto por inteiro e realizar essa
redução, aí que entra a área de PLN (Processamento de Linguagem Natural). A área
de PLN é uma subárea da Inteligência Artificial que tem como objetivo tornar os
computadores capazes de entender a linguagem humana.
      <br>Desta forma, elaborou-se um projeto de software que tem como objetivo
      entregar um produto que possa ajudar estudantes, professores e outros profissionais
      a entender os pontos principais que estão sendo discutidos em artigos, livros, entre
      outros documentos em um curto espaço de tempo.
      <br>To-Point é uma aplicação de trabalho de conclusão de curso desenvolvido em 2022 por Vitor Santos Lopes, estudante da Faculdade de Tecnologia de Franca • Fatec Franca.
    </p>
  </div>
</div>

{% endblock content %}